/xxx/
/.metadata/
/MKL03Z8VFG4/
/MKL27Z64VLH4/
/xxxx/
/DigitalLabEquipment_V1/
/DCD_Check/
/I2C_Experiment/
/I2C_Reference/
/DigitalLabEquipment_V1 - Copy/
/delme/
/Bootloader_FRDM/
/DigitalLabEquipment_USB_Test/
/MimimalRelocatedTest/
/USB_Test/
/USB_Test_Bulk/
/USB_Test_CDC/
/CPLD_ProgrammerApp/
/Installer/
/Bootloader_DigitalLogicBoard (copy)/
/delme.ref/
/Bootloader_DigitalLogicBoard_Copy/
/DigitalLabEquipment_Copy/
