[Desktop Entry]
Version=1.0
Name=Kinetis Bootloader
Comment=Custom bootloader for kinetis devices
TryExec=KinetisBootloaderApp
Exec=KinetisBootloaderApp
Icon=kinetisbootloader.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;
StartupNotify=true
